@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700;900&display=swap');

/*font-family: 'Ruda', sans-serif;*/

body {
    font-family: 'Ruda', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #C4C4C4;
    height: 22px;
    padding: 10px;
}

.buscador {}

.input {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.input[type=text] {
    padding-left: 10px;
}

.lupa {
    width: 14px;
    height: auto;
}

.menu {
    width: 20px;
    height: auto;
}