@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700;900&display=swap');

/*font-family: 'Ruda', sans-serif;*/

body {
    font-family: 'Ruda', sans-serif;
}

p {
    color: #323232;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #C4C4C4;
    height: 22px;
    padding: 10px;
}

.buscador {}

.input {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.input[type=text] {
    padding-left: 10px;
}

.lupa {
    width: 14px;
    height: auto;
}

.menu {
    width: 20px;
    height: auto;
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.textoPrincipal {
    padding-left: 20px;
    padding-right: 20px;
}

.imgPrincipal {
    height: 90vh;
    width: auto;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    padding-left: 20px;
}

.balls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.totalBall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ball {
    border: 4px solid #323232;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px;
}

.textBall {
    font-size: 28px;
    font-weight: 700;
}

.valores {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.tituloValores {
    height: 100vh;
    width: 50vw;
    background-color: #323232;
}

h3 {
    color: #F1ECDE;
    font-size: 50px;
    margin: 30px;
}

.textoValores {
    height: 95vh;
    width: 50vw;
    background-color: #F1ECDE;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 18px;
}