@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700;900&display=swap');

/*font-family: 'Ruda', sans-serif;*/

body {
    font-family: 'Ruda', sans-serif;
    margin: 0px;
}

p {
    color: #323232;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
    height: 22px;
    padding: 10px;
}

.search {}

.input {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.input[type=text] {
    padding-left: 10px;
}

.lupa {
    width: 14px;
    height: auto;
}

.menu {
    width: 20px;
    height: auto;
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.txt-principal {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.img-principal {
    height: 90vh;
    width: auto;
}

h2 {
    color:#323232;
    font-size: 30px;
    font-weight: 900;
    padding-left: 20px;
}

.ct-whatWeDo{
    margin-top: 40px;
    margin-bottom: 40px;
}

.balls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.ct-ball {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ball {
    border: 4px solid #323232;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px;
}

.txt-ball {
    font-size: 28px;
    font-weight: 700;
}

.ct-values {
    display: flex;
    flex-wrap: nowrap;
}

.ct-title {
    width: 50vw;
    background-color: #323232;
}

.title-values {
    color: #F1ECDE;
    font-size: 50px;
    margin: 85px;
}

.ct-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    background-color: #F1ECDE;
    font-size: 24px;
}

.txt-values{
    margin: 40px;
}

.ct-team{
    display: flex;
    flex-wrap: nowrap;
}

.ct-titleTeam{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-team{
    color: #323232;
    font-size: 50px;
    margin: 85px;
}

.ct-members{
    margin: 85px ;
    color: #323232;
    font-size: 20px;
}

.ct-imgTeam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    font-size: 24px;
}

.img-member{
    display: flex;
    justify-content: start;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    background-position: center;
}

.ct-tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.ct-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.ct-logos img{
    width: 150px;
    margin: 15px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #323232;
    color: #F1ECDE;
}